// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #ffffff !important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333f48;
  padding: 5px;
  z-index: 1;
  border-bottom: 4px solid #71B2C9;

  img{
    width: 128px;
    height: 57px;
  }


  #page_title {
    font-weight: bold;
    font-size: 25px;
    vertical-align: super;
    padding-left: 20px;
    color: #ffffff;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  }

  #search_container {
    float: right;
    margin-top: 10px;
    margin-right: 10%;
  }
}

.article_div {
  min-height: 300px;
  width: 100%;
  display:inline-block;
  background-color: #F1F5F6;
  margin-bottom: 10px;
  padding: 30px 10px 0 30px;
  border-radius: 25px;
  color: #333f48;

}

.data_div {
  /*padding-top: 10px;*/
  display: table;

  .hidden_id {
    color: #F1F5F6;
  }

  .red_text {
    color: red;
  }
}

.pic_div {
  float: left;
  

img {
  width: 250px;
  height: 100%;
  margin-right: 20px;
  }
}

.specs_div {
  float: left;
}

.substitute_div {
  float: left;
  margin-left: 5px;

  button {
    margin: 7px 0 7px 0;
  }
}



.product_code {
  font-weight: bold;
}

.sale_price {
  font-size: 16px;
}

.base_price{
  text-decoration:line-through;
  font-size: 16px;
  margin-right: 10px;
}

.discount {
  font-weight: bold;
  font-size: 17px;

}

.second_class {
  font-size: 12px;
  background-color: #ff3333;
  padding: 0 4px;
  color: white;
  margin: 6px 0 -18px 1px;
  width: fit-content;

}

#side_panel {
  position: fixed;
  top: 45px;
  left: 0;
  float: left;
  max-width: 300px;
  height: 100%;
  background-color: #ecf0f1;
  padding-left: 10px;
  padding-top: 30px;
  p {
    line-height: 5px;
  }

  .group_link_paragraph {
  padding-top: 10px;
  }

}

a {
  color: #333f48 !important;

  &:hover {
    background-color: #d3dcde !important;
  }
}

.group_link {
  font-weight: bold;
  font-size: 15px;
}


.subgroup_link {
  font-weight: normal;
  font-size: 14px;
}

#products_panel {
  float: left;
  margin: 50px calc(80px + 10%);
}


.product_form, .show_container {
  margin-top: 100px;

  .field input {
    width: 600px;
  }
}

.logo_img {
  mix-blend-mode: multiply;
  width: 50px;
  height: 100%;
  border: 1px outset snow;
  padding: 5px;
  border-radius: 5px;
}


.subs_table {
  background-color: #ffffff;
  border: 1px solid black;
  min-width: 500px;

  th, tr, td {
    border-bottom: 1px solid #ddd;
  }
}

.add_sub_button_div {
  text-align: center;
}